.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 4rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: rgba(254, 250, 223, 0.8);
    backdrop-filter: blur(8px);
    height: 70px;
  }
  
  .links {
    display: flex;
    gap: 2.5rem;
  }
  
  .links a {
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .links a:hover {
    color: var(--secondary);
  }
  
  @media (max-width: 768px) {
    .navbar {
      padding: 1rem 2rem;
    }
    
    .links {
      gap: 1.5rem;
    }
  }