.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

.textSection {
    display: flex;
    align-items: center;
    padding: 4rem;
    justify-content: flex-end; /* Align text to the right */
}

.textSection h4 {
    font-size: 2rem;
    line-height: 1.2;
    text-align: right; /* Align text to the right */
    max-width: 80%; /* Optional: limit text width */
}

.scanSection {
    background-color: #273617;
    color: #FEFADF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 4rem;
    margin: 2rem;
    border-radius: 24px;
    width: 80%;
    justify-self: center;
    align-self: center;
}

.scanSection h2 {
    font-size: 1.5rem;
    text-align: center;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.iconButton:hover {
    transform: scale(1.1);
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

.iconButton img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .section {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 10px;
    }

    .scanSection {
        order: 2;
        width: 80%;
        padding: 15px;
        margin: 10px 0;
        border-radius: 12px;
    }

    .scanSection img:first-child {
        width: 100%;
        max-width: 250px;
        height: auto;
    }

    .scanSection h2 {
        font-size: 0.9rem;
        margin: 10px 0;
        text-align: center;
    }

    .icons {
        gap: 2rem;
    }

    .iconButton img {
        width: 10px;
        height: 10px;
    }

    .textSection {
        order: 1;
        padding: 15px;
        text-align: center;
        justify-content: center; /* Center in mobile view */
    }

    .textSection h4 {
        font-size: 1rem;
        line-height: 1.4;
        text-align: center; /* Center text in mobile view */
        max-width: 100%; /* Full width in mobile */
    }
}